<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

       <H1>小学登陆</H1>
<hr/>
<form action="/parent/home/regist" method="post">
    <input type="hidden" name="grade" value="1"/><br/>
    身份证:<input type="text" name="idcard"><br/>
    手机号:<input type="text" name="mobile"><br/>
    验证码:<input type="text" name="code"><img src="/demo/foo/captcha" style="width: 100px;height: 50px;"><br/>
    密  码:<input type="password" name="password"><br/>
    <input type="submit" value="注册">
</form>

</body>
</html>